<div class="row mt-3">
  <div class="col d-flex justify-content-between align-items-center">
    <h5>My Anime Searches</h5>
    <button
      type="button"
      class="btn btn-info btn-sm"
      [routerLink]="['/search']"
    >
      Add new search
    </button>
  </div>
</div>

<div class="list-group mt-3">
  <a
    *ngFor="let anime of animeSearches"
    class="list-group-item list-group-item-action"
    [routerLink]="['/search', anime.genre, anime.q]"
  >
    {{ anime.q }} <code>({{ anime.genre }})</code>
  </a>
</div>
